:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: rgb(51, 51, 51, 0.0);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.btn-item {
  font-size: 10px;
  padding: 5px;
}

.flex-container-nav {
  padding: 0;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 17px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-item-nav {
  padding: 5px;
  
  color: white;
  text-align: left;
  margin-right: 10px;
}

.flex-item-nav-sort {
  padding: 5px;
  width: 350px;
}

.select-sort {
  text-align: left;
  color: rgb(90, 90, 90, 1.0);
}

.description-item {
  list-style: none;
  font-size: 10px;
  text-align: left;
}

.bound-num {
  padding: 5px;
  width: 60px;
  text-align: center;
}
